*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "work sans" ,sans-serif;
}
:root{
    --main-color:#10cab7;
    --secondery-color:#2c4755;
}
/* Mobile devices */
/* Mobile devices */

/* @media (min-width: 992px) {
    .about .image {
        display: none;
    } */

@media (min-width: 768px) {
    .about .text {
        width: 386px;
        
    }
}
@media (min-width: 768px) {
    /* .about .image {
        display: none;
        
} */
}

@media (max-width: 767px){
    .about .text {
        width: 350px;
    } 
}
@media (max-width: 767px){
    /* .about .image {
        display: none;
    } */
    
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* .about .text{
    width: 200;
    position: absolute;
    left: 33%;
    transform: translate(17px, -68%);
    -webkit-transform: translate(17px, -68%);
    -moz-transform: translate(17px, -68%);
    -ms-transform: translate(17px, -68%);
    -o-transform: translate(17px, -68%); */
}

    /* Additional styles for mobile devices go here */


/* Tablets and larger */
@media (min-width: 768px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Additional styles for tablets and larger screens go here */
}

/* Laptops and larger */
@media (min-width: 992px) {
    .container {
        max-width: 980px;
    }
    /* Additional styles for laptops and larger screens go here */
}

/* Desktops and larger */
@media (min-width: 1200px) {
    .container {
        max-width: 1199px;
        /* margin-left: 25px; */
    }
    /* Additional styles for desktops and larger screens go here */
}
@media (max-width: 370px) {
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        gap: 20px;
        justify-content: space-around;
        margin-left: 50px;
        max-width: 100%;
    }
    }
@media (min-width: 370px) {
    .col1 {
        width: 203px;
        text-align: center;
        margin-left: 80px;
    }
    .col2{
        width: 268px;
        text-align: center;
        margin-left: 50px;
    }
    .col3{
        margin-left: 40px;
    } 
}
@media (min-width: 1150px) {
    .services-content {
        margin-left: 125px;
}
}

@media (min-width: 767px) {
    .about .text{
    width: 500px;
    position: absolute;
    left: 33%;
    transform: translate(17px, -225%);
} 
}
@media (max-width: 767px) {
    .about .image {
        display: none; /* Hide the image */
    }

    /* .about .text{
    width: 624px;
    position: absolute;
    left: 33%;
    transform: translate(17px, -225%);
} */
}
@media (max-width: 600px) {
    .contact a[href^="mailto:"] {
        text-decoration: none;
        color: var(--main-color);
        font-weight: bolder;
        font-size: 13px;
        margin-left: 0px;
    }
}



@media (max-width: 767px){
.about .text {
    max-width: 85%;
    margin-left: 25px;
}
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:ghostwhite;
    position: absolute;
    right: 0;
    min-width: 200px;
    margin-top: 15px;
    display: none;
}

.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.header .links:hover ul{
    display: block;
}
.header .links ul a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid rgb(71, 69, 69); /* Added 'solid' to specify the border style */
}

.header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color:#ff000000 #00800000 ghostwhite transparent;
    position: absolute;
    right: 5px;
    top: -19px;
}
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .logo{
    width: 80px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;

}
.header .links .icon{
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: black;
    margin-bottom: 5px;
}
.header .links .icon span:first-child{
    height: 3px;
    width: 100%;
}

.header .links .icon span:nth-child(2){
    height: 3px;
    width: 60%;
    transition: 1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
.header .links .icon span:last-child{
    height: 3px;
    width: 100%;
}


.container{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* End Of Header  */

/* Start Landing  */
.landing{
    background-image:url(../images/wallpaperflare.com_wallpaper\ \(7\).jpg) ;
    background-size: cover;
    height: calc(100vh - 72px);
}
h1{
    margin: 0;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    color:var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    text-align: center;
}
.landing .intro-text p{
    line-height: 1.8;
    font-size: 20px;
}
/* end landing  */

/* start features  */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:ghostwhite ;

}
.features .container {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    font-size: 2em;
}
.features .feat h3{
    font-weight: 800;
}
.features .feat p{
    line-height: 1.8;
    color: rgb(79, 75, 75);
}
/* end features */
/* start services */

.special-heading {
    color: #ebeced;
    font-size: 80px;
    text-align: center;
    margin: 0;
    letter-spacing: -3;
    font-weight: 800;
}
.special-heading + p{
    margin: -14px 0 0;
    text-align: center;
    color: #797979;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
    justify-content: space-around;
    /* margin-left: 50px; */
    
} 
/* .col1{
    width: 250px;
    text-align: center;
    margin-left: 80px;
}
.col2{
    width: 250px;
    text-align: center;
    margin-left: 50px;
} */



/* .services {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
} */
.col3 .image{
    width: 320px;
    height: 500px;
    position: relative;
}
.col3 img::before{
    content: "";
}

.services-content .image img {
        max-width: 100%; /* Set the maximum width to 100% of the container */
        max-height: 200px; /* Set the maximum height to 200 pixels, adjust as needed */
        height: auto; /* Maintain the aspect ratio */
        width: auto; /* Ensure the image does not exceed its container */
    }
    .services-content .srv{
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    .services-content .srv i{
        color: #10cab7;
        flex-basis: 60px;
    }
    .services-content .srv .text{
        flex: 1;
    }
    .services-content .col .image img::before {
        content: "";
        background-color: #2c4755;
        width: 80px;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        /* Other styles as needed */
    }
.portfolio{
    background-color: ghostwhite;
}    
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 80px;
}
.portfolio-content .card{
    background-color: white;
}
.portfolio-content .card img{
    max-width: 100%;
}
.portfolio-content .card .info{
    padding: 20px;
}
.portfolio-content .card .info h3{
    margin: 0;
    padding-bottom: 15px;
}
.portfolio-content .card .info p{
    color: #797979;
    line-height: 1.8;
    margin: 0;
}
.about{
    display: flex;
    align-items: center;
}
.about .image img {
    max-width: 100%;
    /* max-height: 250px; */
}
.about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .image{
    position: relative;
    width: 250px;
    height: 375px;
    flex-basis: auto; /* or use width: auto; */
    margin-right: 20px; /* Adjust margin as needed */
}
.about .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 60px;
    height: 80%;
    top: -25px;
    z-index: -1;
    left: -15px;
}

.about .image::after{
    content: "";
    position: absolute;
    background-color: #10cab7;
    width: 41px;
    height: 73%;
    border-left: 62px solid #10cab7;
    border-bottom: 16px solid #10cab7;
    z-index: -1;
    left: 180px;
    top: -11px;
    transform: rotateY(111deg);
}
/* .about .text{
    width: 624px;
    position: absolute;
    left: 33%;
    transform: translate(17px, -225%);
} */
.about .text p:first-of-type{
font-weight: bold;
}
.about .text hr{
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}

.about .text p:last-of-type{
font-size: 13px;

}
.contact .bye-sent{
    /* margin-left: 30px;
    margin-top: 80px; */
    line-height: 1.8;
    text-align: center;
}
.contact .bye-sent p:first-of-type{
    color: var(--secondery-color);
    font-weight: bolder;
    font-size: 40px;
}

.contact .bye-sent a{
    text-decoration: none;
        color: var(--main-color);
        font-weight: bolder;
    font-size: 29px;
    margin-left: 15px;
    display: block; /* Make the link a block element */
        white-space: nowrap; /* Prevent line break for long links */
        overflow: hidden; /* Hide the overflow content */
        text-overflow: ellipsis; /* Display an ellipsis (...) for overflow text */
}
.contact .find{
    /* margin-left: 75px;
    margin-top: 30px; */
    /* display: flex; */
    gap: 10px;
    text-align: center;
}

.contact .find i{
    color: #2c4755;
}